<div class="well span5" style="margin-top: 20px;">
<h1 >Add a Note!</h1>
<%= render 'form' %>
</div>
<div class="well span5" style="margin-top: 20px; background-color:#C12267;">
<h1>Thanks for sharing your notes!</h1>
<h2>We really appreciate it.</h2>
<br>
<br>
<br>
</div>
