<div class="well span5" style="margin-top: 20px;">
<h1>Start a new collaborative note.</h1>
<%= render 'form' %>
</div>

<div class="well span5" style="margin-top: 20px; background-color:#C12267;">
<h1>Why write notes by yourself?</h1>
<h2>Split the work. Check your work.</h2>
<br>
<br>
</div>
