<h3 style="text-align: right; padding-right: 35px; ">
  <%= @collab.course.name %>
</h3>
<iframe src="https://docs.google.com/document/d/<%= @collab.file %>/edit" seamless="seamless" width="100%" height="1000"></iframe>
