<p>
  <b>Title:</b>
  <%= @collab.title %>
</p>


<p>
  <b>Course:</b>
  <%= @collab.course.name %>
</p>
<iframe src="https://docs.google.com/document/d/<%= @collab.file %>/edit" width="1000" height="600"></iframe>
