<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @collab.title %>
</p>


<p>
  <b>Course:</b>
  <%= @collab.course_id %>
</p>
<iframe src="https://docs.google.com/file/d/<%= @collab.file %>/preview" width="640" height="480"></iframe>
