<div style="text-align: center; font-family: 'Helvetica Neue'; background-color: #357EC7; height: 250px; color:white; padding: 60px;">
  <h1 style="font-size: 96px; position:relative; left: 70px;">NoteShare</h1>
  <h3 style="float: right; position: relative; left: -130px; top: -35px;">Collaborative note taking; Resource sharing.</h3>
  <h3>&nbsp; </h3>
  <br>
  <% for school in @schools %>
    <h3 style = "font-size: 50px;"><%= link_to school.name, school %> </h3>
  <% end %>
</div>
