<div style="text-align: center; font-family: 'Helvetica Neue'; background-color: #357EC7; height: 250px; color:white; padding: 60px;">
  <h1 style="text-align: center; padding-bottom:5px;font-size: 96px; ">NoteShare</h1>
  <h3 style="">Collaborative note taking; Resource sharing.</h3>
  <br>
  <% for school in @schools %>
    <h3 style = "font-size: 50px;"><%= link_to school.name, school %> </h3>
  <% end %>
</div>
