<div style="text-align: center; font-family: 'Helvetica Neue'; background-color: #357EC7; height: 260px; color:white; padding: 60px;">
  <h1 style="text-align: center; padding-bottom:5px;font-size: 96px; ">NoteShare</h1>
  <h3 style="">Collaborative note taking; resource sharing.</h3>
  <% for school in @schools %>
    <h3 style = "font-size: 50px;"><%= link_to school.name, school %> </h3>
  <% end %>
</div>
<div class="well span4" style="margin-top: 20px; background-color:#C12267; height: 150px;">
<h3 style="text-align:left;">Two heads <i>are</i> better than one.</h3>
<p style="font-weight: 200;">Notes can be better. Working together, notes can be written faster, and more accurately. We think it's silly for the same work to be done by multiple people. </p>
</div>
<div class="well span4" style="margin-top: 20px; background-color:#008080; height: 150px;">
<h3 style="text-align:left;">Sharing is caring.</h3>
<p style="font-weight: 200;">Everyone benefits from sharing. The world is build upon shared knowledge, and notes should be built on it too. NoteShare is a central repository for sharing. Now everyone can join in!</p>
</div>
<div class="well span4" style="margin-top: 20px; background-color:#F87431; height: 150px;">
<h3 style="text-align:left;">Discussion.</h3>
<p style="font-weight: 200;">Ever confused by the notes? Chances are someone else was confused by the very same part. Discussion in the collaborative notes can fix this. Annotate where you are confused, and how you cleared the confusion. Or ask about it in the notes.</p>
</div>

<div id="footer" style="text-align: center;">
  Donald Huang | Peter Xiao | Vibha Rao
</div>

