<div style="font-family: 'Helvetica Neue'; background-color: #306EFF;"><h1>Noteshare</h1></div>
<p>Find your school:</p>
<% for school in @schools %>
  <p><%= link_to school.name, school %></p>
<% end %>
