<br>
<div class="hero-unit">
  <h1><%= @school.name %></h1>
  <h3 style="text-align: left;">Courses.</h3>

  <% for course in @courses %>
    <p style="color: white;"><%= link_to course.name, course %></p>
  <% end %>
  <p>End.</p>
</div>

