<p id="notice"><%= notice %></p>

<h1><%= @course.school.name %></h1>
<h2><%= @course.name %></h2>

<h3>Notes:</h3>
<% if @notes.empty? %>
  <p>No notes yet for this course!</p>
<% else %>
  <% for note in @notes %>
    <p><%= link_to note.title, note %> </p>
  <% end %>
<% end %>
