// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {

font: bold italic 4em/1em "Times New Roman", "MS Serif", "New York", serif;

margin: 0;

padding: 0;

border-top: solid #4C5D5E medium;

border-bottom: dotted #4C5D5E thin;

width: 600px;

text-align: center
}

