body {
  background-color: #FFF;
  color: #000;
  font-family: 'helvetica neue', sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.hero-unit {
  margin-top: 20px;
  background-color: #F87431;
}
p, ol, ul, td {
  font-family: 'helvetica neue', sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h1 {
  text-align: left;
  font-family: verdana, arial, helvetica, sans-serif;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a {
  color: #fff;
  font-size: 15px;
}
h2 {
  text-align: left;
  font-family: verdana, arial, helvetica, sans-serif;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

h3 > a {
  color: #FFF;
  &:visited {
    color: #FFF;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  font-size: 26px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
